version: "3.8"

services:

  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    env_file:
      - soat.env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - soat-network

  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      SERVICES: sns,sqs
      AWS_DEFAULT_REGION: us-east-1
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
    volumes:
      - ./localstack/init-localstack.sh:/etc/localstack/init/ready.d/init-localstack.sh
    command: >
      sh -c "apk add --no-cache jq && docker-entrypoint.sh"
    networks:
      - soat-network

  app:
    build:
      context: ..
      dockerfile: docker/app/Dockerfile
    env_file:
      - ./soat.env
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      localstack:
        condition: service_started
    networks:
      - soat-network

networks:
  soat-network:
    driver: bridge
