version: '3.8'
services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sns,sqs
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    volumes:
      - ./init-localstack.sh:/etc/localstack/initX/ready.d/init-localstack.sh
    networks:
      - localstack-network
    command: >
      sh -c "apk add --no-cache jq && /usr/local/bin/docker-entrypoint.sh"

  aws-cli:
    image: amazon/aws-cli
    environment:
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_ENDPOINT_URL=http://localstack:4566
    entrypoint: /bin/bash
    command: -c "sleep infinity"
    depends_on:
      - localstack
    networks:
      - localstack-network

networks:
  localstack-network:
    driver: bridge